<ion-modal-view>
    <ion-content class="my-scroll" scroll="true" style="background: url(img/modal-bg.jpg) center center; background-size: cover;">
        <div class="ionic own-modal">
            <div class=" bar bar-header bar-stable-100 flat">
                <button ng-click="closeModal()" class="button button-icon icon ion-ios-arrow-down flat pull-left close-modal"></button>
                <h1 class="title modal-title"><img class="title-image" src="../img/logo_rectangle.png" /></h1>
                <button class="button button-icon icon ion-android-share-alt flat pull-right"></button>
            </div>
            <div class="hero has-mask ink" style="background-image: url({{currentProduct.image.url}});">
                <div class="content" style="z-index: 99999999;">
                    <button class="button button-large button-clear ink flat waves-effect waves-button waves-light icon ion-heart pull-right text-white" ng-click="freeLike($event)"></button>
                    <button class="button button-large button-clear ink flat waves-effect waves-button waves-light icon ion-images pull-right text-white" ng-click="openImageModal()"></button>
                    <button class="button button-large button-clear ink flat waves-effect waves-button waves-light icon ion-android-cart pull-right text-white"></button>
                </div>
            </div>
            <div class="mid-bar pink-bg z1 padding">
                <h3>{{currentProduct.name}}</h3>
                <p>{{ currentProduct.price | currency : '$' : 0}}</p>
            </div>
            <div class="content double-padding modal-content">
                <h4 class="cyan-positive subtitle">{{currentProduct.subtitle}}</h4>
                <p class="text-muted">
                    {{currentProduct.description}}
                </p>
                <h3 class="outline padding balanced inline img-rounded lower-line">
                    {{currentProduct.rating}}
                </h3>
              <div class="padding mid-bar z1 pink-bg">
                <h2 class="padding" style="text-align: center;">¿Qu&eacute; deseas hacer?</h2>
                <div class="button-bar">
                  <button class="button button-balanced  button-small icon-left ion-android-cart ink waves-effect waves-button waves-light"  ng-click="" ><span>Agregar</span></button>
                  <button class="button  button-small button-pink   button-positive light-bg icon-left ion-jet ink waves-effect waves-button waves-light" ng-click="" ><span>&iexcl;Urgencia!</span></button>
                </div>


              </div>
              <div class="padding mid-bar z1 pink-bg recommended-bar">
                <h3>Creemos que tambi&eacute;n podr&iacute;a interesarte</h3>
                <ion-scroll direction="x" zooming="false" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll" >
                  <!--<p>Lorem ipsum dolor sit am consectetur adipisicing elit. Soluta suscipit doloremque exercitationem vero placeat ducimus est quam perspiciatis beatae venim quos at minus eos optio dolore iure amet totam officia.<br/>Lorem ipsum dolor sit am consectetur adipisicing elit. Soluta suscipit doloremque exercitationem vero placeat ducimus est quam perspiciatis beatae venim quos at minus eos optio dolore iure amet totam officia.</p>-->
            <span ng-repeat="product in products" class="horizontal-product ink recommended">
               <div class="horizontal-title">
                 <h2>{{product.name}}</h2>
                 <div>{{product.description}}</div>
               </div>

                <img-wit src="{{trustSrc(product.image.url)}}" pc="60" ng-click="openModalFromModal($event,$index,product)"> </img-wit>
                <!--<img src="http://lorempixel.com/1080/350/nightlife/">-->
                <span class="horizontal-buttons ">
                    <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-android-person-add pull-right text-white"></button>
                    <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-android-cart pull-right text-white"></button>
                    <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-heart pull-right text-white"></button>
                </span>

            </span>
                </ion-scroll>
              </div>


            </div>
        </div>
    </ion-content>
</ion-modal-view>
<button id="fab-activity" class="button button-fab button-fab-bottom-right expanded button-balanced-900 flap"><i class="icon ion-android-cart"></i></button>

