<ion-pane style="background: url(img/tastes1.jpg) center center; background-size: cover;">
    <h3><timer ng-show="timerRunning" autostart="false" interval="1000" countdown="4">{{countdown}}</timer></h3>

        <ion-header-bar class="bar-energized">

            <h1 class="title">Personaliza tu experiencia <i ng-click="showAlert()" class="icon ion-ios-help-outline bigicon"></i></h1>

            <!--<button ng-click="startTimer()" >Start Timer</button>
            <button ng-click="stopTimer()" >Stop Timer</button>-->
        </ion-header-bar>
        <ion-content scroll="false"
                     class="world">

            <div class="list" >
                    <div class="explanation">
                        Presiona una vez lo que te guste, dos lo que ames y mantén presionado lo que odies hasta que desaparezca.
                    </div>
            </div>

            <div
                    style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%"
                    >


                <!-- An example of setting custom attributes. The size, position and shape all can be parsed automatically, if no attribute is give for them. -->
                <div
                        id="{{block.id}}"
                        ng-show="{{block.showing}}"
                        class="box"
                        on-long-click="itemOnLong(block)"
                        on-click-end="itemOnEnd(block)"
                        ng-repeat="block in blocks"
                        ng-class="[block.shape, block.state]"
                        ng-click="growMeShrinkMe(block)"
                        nui-body
                        nui-x="{{block.x}}"
                        nui-y="{{block.y}}"
                        nui-width="{{block.width}}"
                        nui-height="{{block.height}}"
                        nui-shape="{{block.shape}}"
                        style="background: linear-gradient(to bottom,{{block.color}} 31%,#d3f6fe 100%);"
                        >
                    <p>Nombre del Producto</p>
                </div>
            </div>

        </ion-content>
  <div class="button-bar intro-buttons">
    <button style="z-index: 99999999" class="button button-small button-border icon-left ion-close button-assertive-900" ng-click="startApp()">Saltar</button>
    <button style="z-index: 99999999" class="button button-small button-border icon-left ion-heart button-positive-900" ng-click="startApp()">&iexcl;Comenzar!</button>
  </div>
    </ion-pane>


